<div class="job-form-container">

  <div class="page-header">
    <div>
      <h1>Editar Vaga</h1>
      <p>Atualize as informações da vaga.</p>
    </div>

    <%= link_to "Voltar", job_path(@job), class: "btn-secondary" %>
  </div>

  <div class="job-form-card">
    <%= render "form", job: @job %>
  </div>

</div>