<div class="job-form-container">

  <div class="page-header">
    <div>
      <h1>Nova Vaga</h1>
      <p>Cadastre uma nova oportunidade.</p>
    </div>

    <%= link_to "Voltar", jobs_path, class: "btn-secondary" %>
  </div>

  <div class="job-form-card">
    <%= render "form", job: @job %>
  </div>

</div>