<div class="job-application-container">

  </div>
  <h1>Importar currículo</h1>

  <div class="application-card">
    <%= form_with model: @resume, url: resumes_path do |f| %>
        <%= f.file_field :file,
        onchange: "this.form.requestSubmit();" %>
    <% end %>

    <%= render "form" %>

  </div>
</div>