<h1>Currículos</h1>

<%= link_to "Importar currículo", new_resume_path, class: "btn btn-primary" %>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @resumes.each do |resume| %>
      <tr>
        <td><%= resume.raw_text %></td>
        <td><%= resume.status %></td>
        <td>
          <%= link_to "Visualizar", resume %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>