<h1>Importar currículo</h1>

<%= form_with model: @resume do |f| %>

  <div>
    <%= f.label :file, "Arquivo PDF" %><br>
    <%= f.file_field :file %>
  </div>

  <br>

  <%= f.submit "Enviar currículo" %>

<% end %>
