<h1>Pré-visualização do currículo</h1>

<% binding.irb %>

<hr>


<h2>Texto extraído</h2>

<div>
  <p><%= simple_format(@resume.raw_text) %></p>
</div>


<hr>


<h2>Confirmar importação?</h2>

<%= link_to "Cancelar", new_resume_path %>